.initial {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 20px 0;

	&__heading {
		color: var(--secondary-color);
		font-size: 4rem;
		font-weight: 100;
		text-align: center;
		line-height: 1.25;
	}
}
